*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Navbar Starts */

.nav-item{
    width: 100px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #3B1C0B;
}

/* Navbar Ends */

/* Header Starts */
.jumbotron{
    margin: 0 auto;
    color: dark;
    padding: 70px 30px;
}
/* Header Ends */

/* Menu Starts */
.menu{
    font-family: "lobster";
    text-align: center;
    font-weight: bold;
}
/* Menu Ends */