

/* Navbar Starts */

.nav-item{
    width: 100px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #3B1C0B;
}

/* Navbar Ends */

/* Header Starts */
.banner-img {
    width: 100%;
    display: block;
}
.jumbotron{
    margin: 0 auto;
    color: dark;
    padding: 70px 30px;
}
/* Header Ends */

/* Menu Starts */
.menu{
    font-family: "lobster";
    text-align: center;
    font-weight: bold;
}
@media only screen and (min-width: 768px){
    .menu-item h5{
        float: left;
        margin: 10% 20% 0 20%;
    }
    .menu-item p{
        float: left;
        margin: 0 20% 10% 20%;
    }
    /* .menu-img {
        float: right;
        margin: 3% 10% 0% 0%;
    } */
}

.menu-header p img{
    max-width: 480px;
    height: auto;
}

/* Menu Ends */